.normal {
}

.operation a {
    margin: 0 .5em;
}

.authTitle {
  font-size: 16px;
  color: #333;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
}


.authFormWarp {
  margin-top: 16px;
}
