
.normal {
  font-family: Georgia, sans-serif;
  margin: 0 30px;

  background: #f4f4f4;
}

.bgColor {
  padding: 20px 20px 20px 84px;
  background: #fff;
}

.titleLevel2 {
  font-size: 18px;
  color: #333;
  line-height: 1;
  margin-bottom: 40px;
}

.bgUnNormal {
  background: #f4f4f4;
}

.bgUnNormal, .bgColor {
  padding-bottom: 1000px;
  margin-bottom: -1000px;
}

.ratioWraper {
  padding: 20px;
  margin-right: 10px;
  background: #fff;
}

.ratioTitle {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1;
  color: #666;
}

.titleLevel3 {
  color: #333;
  line-height: 1;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 16px;
}

.ratioStyles {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1;
  color: #666;
}

.loginOut {
  text-align: right;
  font-size: 14px;
  color: #5c82a9;
  line-height: 18px;
  margin-bottom: 40px;
}
