.normal {
    margin: 30px;
}

.authTitle {
    font-size: 16px;
    color: #333;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
}

.authDesc {
    font-size: 18px;
    line-height: 1;
    margin: 50px auto;
    color: #333;
    text-align: center;
}

.authOption {
    width: 190px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.ant-tabs-nav-scroll {
    text-align: center;
}

.authFormWarp {
    margin-top: 50px;
}


.authFormItem {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.waperSpinner {
    color: #333;
}

.ant-spin-dot{
    display: none;
}