.normal {
  display: flex;
  flex-direction: row;
  height: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
}

.title {
  flex: auto;
  font-size: 16px;
  color: #333;
  height: 50px;
  line-height: 50px;
}

.titleBtn {
  flex: 0 0 100px;
  text-align: right;
  line-height: 50px;
}


