.pictureUpload,
.singleUploaderTrigger {
    width: 280px;
    height: 150px;
    display: block;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    line-height: 150px;
    overflow: hidden;
}

.singleUploaderTrigger {
    border: 0;
}

.picture {
    width: 280px;
    height: 150px;
}

.avatarUploader,
.avatarUploaderTrigger,
.avatar {
  width: 200px;
  height: 200px;
}
.avatarUploader {
  display: block;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
}
.avatarUploaderTrigger {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #999;
}
